# Build artifacts
utils/*.o
crawler/crawler
indexer/indexer
querier/querier
test/test_pageio
test/test_indexio

# Output and data directories
pages/
test_pages/
verify_pages/
indexer/saved_index

# Output files
indexer/words.txt

# Editor files
*~
\#*\#
.#*

# OS files
.DS_Store

# .backup files
*/.backup